body{
    background: #8d8d8c;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    
}

#app{
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    /* grid-template-columns:  */
    height:75vh;
    /* background: #f23557; */
    color: #f0d43a;
    justify-content: start;
    align-content: space-between;
    grid-gap: .5em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-left: 20px;
    width: auto;
}

.holder{
    display: grid;
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding-left: 10px;
}
#feelings {
    border-radius: 10px;
    padding-left: 10px;
    width: 400px;
}
#entryHolder{
    color: #f0d43a;
}

#date{
    color: #f0d43a;
}
#temp{
    color: #f0d43a;
}

#content{
    color: #f0d43a;
}

.headline {
    color: #f0d43a;
    margin-bottom: 0;
}
.title{
    color: #f0d43a;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 30px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid white;
    border-radius: 10px;
    /* margin-bottom: 10px; */
}

button{
    width: 150px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

button :hover{
    background-color: #6580ba;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    /* font-size: 20px; */
    font-family: 'Oswald', sans-serif;
    height: 200px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
    height: 300px;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 